#sp-page {
    color: #728B8C
}

#sp-page .sp-header-tag-h1,
#sp-page .sp-header-tag-h2,
#sp-page .sp-header-tag-h3,
#sp-page .sp-header-tag-h4,
#sp-page .sp-header-tag-h5,
#sp-page .sp-header-tag-h6 {
    color: #104F50
}

#sp-page h1,
#sp-page h2,
#sp-page h3,
#sp-page h4,
#sp-page h5,
#sp-page h6 {
    color: #00AEC7;
    font-family: 'Oswald';
    font-weight: 700;
    font-style: normal
}

#sp-page a {
    color: #008994
}

#sp-page a:hover {
    color: #005a61
}

#sp-page .btn {
    background-color: #00BEC6
}

body {
    background-color: #FFFFFF;
    background-image: url('https://assets.seedprod.com/86qm4q49dxkpktsh.png');
}


@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 480px) {}